@mixin flexCenter($direction: column) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin fit {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
