.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: rgb(177, 64, 4);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.modal h1 {
  color: white;
}

.modal button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal__location-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
}

.modal__sub-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal__label {
  font-weight: bold;
}

.modal__value {
  margin-top: 5px;
}

.modal__car {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-info {
    margin-bottom: 10px;
  }

  &-image {
    max-width: 100%;
    height: auto;
  }
}

.modal__personal-info {
  margin-top: 20px;
}

.modal__personal-info-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.modal__personal-info-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.modal__personal-info-section {
  grid-row: span 2; /* Each section spans 2 rows */
}

.modal__personal-info-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.modal__personal-info-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal__personal-info-checkbox-label {
  grid-column: span 2; /* Span 2 columns */
  font-size: 16px;
  margin-top: 10px;
}

.modal__personal-info-checkbox {
  margin-right: 5px;
}
