@import "./mixins";

.footer {
  background-color: #7e7b7b;
  padding: 20px;
  color: #e5e2e2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  margin-top: auto;

  &__contact {
    flex: 1;
    margin-right: 20px;
    & p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &-link {
      color: #fff;
      text-decoration: none;
      display: block;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__company {
    flex: 1;
    margin-right: 20px;
    &-link {
      color: #fff;
      text-decoration: none;
      display: block;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__hours {
    flex: 1;
    margin-right: 20px;
    & p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__subs {
    flex: 1;
    & p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    &-group {
      margin-bottom: 10px;
    }

    &-label {
      color: #fff;
      margin-bottom: 5px;
    }

    &-input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    &-button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }
  }
}
